EDGE_RPC_URL=http://YOUR_PRODUCTION_SERVER_IP:18545
EDGE_CHAIN_ID=302612
EDGE_DEPLOYER_PRIVATE_KEY=0xYOUR_PRIVATE_KEY_HERE
EDGE_NETWORK_NAME=polygon-edge-external
# EDGE_INITIAL_OPERATOR=0xYourOperatorAddress
