EDGE_RPC_URL=http://203.0.113.10:18545
EDGE_CHAIN_ID=302612
EDGE_DEPLOYER_PRIVATE_KEY=0xYOUR_EXTERNAL_TEST_PRIVATE_KEY_64_HEX_CHARS
EDGE_NETWORK_NAME=polygon-edge-external
# EDGE_INITIAL_OPERATOR=0xYOUR_EXTERNAL_TEST_OPERATOR_ADDRESS
